.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.1em;
  }

  code {
    background-color: #eee;
    padding: 0.2em 0.4em;
    border-radius: 4px;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 1rem;
    border-radius: 6px;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid #ddd;
  }
}